.stats {
  display: flex;
  justify-content: center;
}

.stats-item:not(:first-child) {
  margin-left: 10px;
}

.stats-item {
  display: flex;
  align-items: center;
}

.material-icons {
  margin-right: 10px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-left: 0;
 
}

img{
  object-fit: cover;
  
}
